body {
  background-image: linear-gradient(to right, gray, rgba(115, 115, 201, 0.77), rgb(206, 206, 206));
}

.myNav {
  background-color: rgb(37, 36, 34);
  margin-top: -8px;
  border: 0.3em rgb(176, 200, 223) double;
  padding: 1em 0;
}

.myNav a {
  color: rgb(202, 229, 246);
}

.about-me {
  padding: 2em 3em;
  line-height: 1.6;
  text-align: end;
 
}
