* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgb(83, 145, 212);
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.8rem;
  color: rgb(224, 223, 144);
}

